/*
Vars
*/
$desktop_header_height: 95px;
$page_max_width: 1215px;
$base_font_size: 18px;
$base_line_height: 30px;
$base_font: 'Open Sans', sans-serif;
$side_gutter: 30px;

/*
Colors
*/
$body_bg: #FFF;
$separator_color: #eeeeee;
$footer_text_color: #f7f6f5;
$base_text_color: #202020;
$highlight_color: #00bfc0;
$highlight_hover_color: darken( $highlight_color, 10% );
$menu_over_image_bg: rgba( 0,0,0, 0.3 );
$menu_over_image_border: darken( $separator_color, 50% );
$yellow_highlight: #ffc926;
$red_highlight: #ff5c26;
$important_button_color: #78c573;


/*
Mixins
*/
@mixin respond_to( $key, $value: null ){
	@if( $key == 'max-width' ) {
		@media only screen and ( max-width: $value ) {
			@content;
		}
	}
	@else if( $key == 'min-width' ) {
		@media only screen and ( min-width: $value ) {
			@content;
		}
	}
	@else if( $key == 'home_text_wrap' ) {
		@media only screen and ( max-width: 780px) {
			@content;
		}
	}
	@else if( $key == 'home_text_wrap_rev' ) {
		@media only screen and ( min-width: 781px) {
			@content;
		}
	}



};