@import "global";

.image_teaser {
	$aspect_ratio: ( 640 / 1366 ) * 100%;
	position: relative;
	padding-top: $aspect_ratio;
	min-height: 448px;
	overflow: hidden;

		$max_image_width: 1366px;

		@include respond_to( 'min-width', $max_image_width ) {
			padding-top: 640px;
		}

		&__image {
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate( -50%, -50% );
			width: auto;
			height: 100%;

				@include respond_to( 'min-width', $max_image_width ) {
					width: 100%;
					height: auto;
				}
		}

		&__featured_message {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			background: $menu_over_image_bg;
			border-top: 1px solid $menu_over_image_border;
			color: $body_bg;
			text-align: center;
			font-weight: 300;
			padding: 10px 0;

				&__text {
					display: inline-block;
				}

				.button {
					margin: 20px 40px;
				}
		}
}

.home_text {
	border-bottom: 1px solid $separator_color;
	padding: 40px 0;

		p {
			text-align: left;
		}

		.width_wrap {
			display: flex;
			align-items: center;
			max-width: 880px;

				@include respond_to( 'home_text_wrap' ) {
					flex-direction: column;
				}
		}

		&__image {
			flex: 1 0 auto;
			min-width: 300px;

				@include respond_to( 'home_text_wrap' ) {
					min-width: 0;
					text-align: center;
				}

				img {
					display: inline-block;
					margin-top: $base_line_height;

						&.is-svg {
							width: 250px;
							height: 250px;
						}

						@include respond_to( 'home_text_wrap' ) {
							width: 50%;
							height: auto;

								&.is-svg {
									width: 50%;
									height: auto;
								}
						}
				}


		}

		&__description {
			flex: 1 1 auto;

				@include respond_to( 'home_text_wrap_rev' ) {
					.is-reversed & {
						order: -1;
					}
				}

		}

		@include respond_to( 'home_text_wrap_rev' ) {
			&.is-reversed {
				text-align: right;

				p {
					text-align: right;
				}
			}
		}

		@include respond_to( 'home_text_wrap' ) {

			.button {
				position: relative;
				left: 50%;
				transform: translateX( -50% );
			}

		}


}

.home_call_to_action {
	text-align: center;
	margin: $base_line_height 0;
}

.testimonials {
	margin-top: $base_line_height * 2;
	position: relative;

	$max_height: 560px;
	$breakpoint: ( $max_height / 2 ) * 3;
	$long_text_breakpoint: 620px;

		&__heading {
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
			top: $base_line_height;
			z-index: 100;

			color: $body_bg;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 18px;

				@include respond_to( 'max-width', $long_text_breakpoint ) {
					top: 0;
				}
		}

		&__slider {
			z-index: 50;
			position: relative;

				&__item {
					position: relative;
					max-height: $max_height;
					overflow: hidden;

						@include respond_to('max-width', $breakpoint) {
							height: $max_height;
						}

						img {
							//Aspect ratio 3:2
							display: block;
							max-width: 100%;
							height: auto;
							transform: translateY(calc(-50% + #{( $max_height / 2 )}));

							@include respond_to('max-width', $breakpoint) {
								height: 100%;
								width: auto;
								max-width: none;
								transform: translateX(calc(#{'-50% + 50vw'}));
							}
						}

						&__content {
							position: absolute;
							top: 50%;
							left: 50%;
							width: calc( 100% - 100px ) ;
							max-width: $page_max_width - 80px;
							transform: translate( -50%, -50% );
							color: $body_bg;
							font-weight: 300;
							font-size: 24px;
							line-height: 36px;
							text-align: center;

								p {
									text-align: inherit;
								}

								@include respond_to( 'max-width', $long_text_breakpoint ) {
									font-size: 18px;
									line-height: 24px;
								};

								&__quote_before,
								&__quote_after {
									$size: 32px;
									width: $size;
									height: $size;
									color: $body_bg;
									opacity: 0.2;
									position: absolute;
									top: $base_line_height;
								}

								&__quote_before {
									left: -40px;
								}

								&__quote_after {
									right: -40px;
								}


						}

				}
		}

		&__nav {
			@import "modules/slider_pagination";
			@include slider_pagination();

			position: absolute;
			bottom: 30px;
			z-index: 100;
			left: $side_gutter;
			right: $side_gutter;

				@include respond_to( 'max-width', $long_text_breakpoint ) {
					bottom: 0;
				}
		}

}