@import "global";

/*
Resets
*/
@import "libs/normalize";

nav ul, nav ul li {
	padding: 0;
	margin: 0;
	list-style: none;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

/*
Layout
*/
@import "modules/typo";

.width_wrap {
	max-width: $page_max_width;
	margin: 0 auto;

		@include respond_to( 'max-width', $page_max_width + $side_gutter ){
			padding-left: $side_gutter;
			padding-right: $side_gutter;
		};
}


@import "modules/header";

.main_content {

		img {
			max-width: 100%;
			height: auto;
		}

}

@import "modules/footer";