@import "global";

@import "libs/owl.carousel";

.owl-item {
	display: flex;
	justify-content: space-around;
}

.products_slider {
	margin: ( $base_line_height * 2 ) 0;
	position: relative;

		&__heading {
			text-align: center;
			font-weight: bold;
			color: $base_text_color;
			text-transform: uppercase;
			font-size: 24px;
			margin: ( $base_line_height * 2 ) 0;
		}

		&__products {

		}

		&__nav {
			@import "modules/slider_pagination";
			@include slider_pagination();
		}

}