@import "../global";

.testimonials {
	margin-top: $base_line_height * 2;
	position: relative;

	$max_height: 560px;
	$breakpoint: ( $max_height / 2 ) * 3;
	$long_text_breakpoint: 620px;

		&__heading {
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
			top: $base_line_height;
			z-index: 100;

			color: $body_bg;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 18px;

				@include respond_to( 'max-width', $long_text_breakpoint ) {
					top: 0;
				}
		}

		&__slider {
			z-index: 50;
			position: relative;

				&__item {
					position: relative;
					height: $max_height;
					width: 100%;
					overflow: hidden;
					display: flex;
					justify-content: center;
					align-items: center;

						&__image {
							position: absolute;
							width: 100%;
							height: auto;
							left: 0;
							top: 50%;
							transform: translateY( -50% );

								@include respond_to( 'max-width', 840px ) {
									height: 100%;
									width: auto;
									top: 0;
									left: 50%;
									transform: translateX( -50% );
								}
						}

						&__content {
							$border_gutter: 100px;
							color: $body_bg;
							font-weight: 300;
							font-size: 24px;
							line-height: 36px;
							text-align: center;
							width: auto;
							position: relative;
							max-width: ( $page_max_width - $border_gutter );

								.no-flexbox & {
									position: absolute;
									left: 50%;
									top: 50%;
									transform: translate( -50%, -50% );
								}

								@include respond_to( 'max-width', ( $page_max_width + $border_gutter ) ){
									max-width: calc( 100% - #{$border_gutter} );
								}

								p {
									text-align: inherit;
								}

								@include respond_to( 'max-width', $long_text_breakpoint ) {
									font-size: 18px;
									line-height: 24px;
								};

								&__quote_before,
								&__quote_after {
									$size: 32px;
									width: $size;
									height: $size;
									color: $body_bg;
									opacity: 0.2;
									position: absolute;
									top: $base_line_height;
								}

								&__quote_before {
									left: -40px;
								}

								&__quote_after {
									right: -40px;
								}

						}

				}
		}

		&__nav {
			@import "slider_pagination";
			@include slider_pagination();

			position: absolute;
			bottom: 30px;
			z-index: 100;
			left: $side_gutter;
			right: $side_gutter;

				@include respond_to( 'max-width', $long_text_breakpoint ) {
					bottom: 0;
				}
		}

}