@import "../global";

body {
	background: $body_bg;
	font-size: $base_font_size;
	line-height: $base_line_height;
	font-family: $base_font;
	color: $base_text_color;
}

a {
	color: $highlight_color;
	transition: color 300ms;

		&:hover {
			color: $highlight_hover_color;
		}
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, q {
	margin: ( $base_line_height ) 0;
}

h1 {
	font-weight: 300;
	font-size: 30px;
	color: $highlight_color;
}

h2 {
	font-weight: 300;
	font-size: 24px;
	color: $highlight_color;
}

h3, h4, h5, h6 {
	font-weight: 300;
	font-size: 22px;
}

p {
	text-align: justify;
}

blockquote {
	padding-left: 10px;
	border-left: 10px solid $highlight_color;
	font-style: italic;
}

.button {
	display: inline-block;
	border: 1px solid $highlight_color;
	border-radius: 5px;
	line-height: $base_line_height * 1.5;
	vertical-align: middle;
	padding-left: $base_line_height;
	padding-right: $base_line_height;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	transition-property: background-color, color, border-color;
	transition-duration: 200ms;

		&:hover {
			color: $body_bg;
			background: $highlight_color;
		}

		&:active {
			background: darken( $highlight_color, 20% );
		}

		&.is-small {
			line-height: $base_line_height;
		}

		&.is-inverted {
			color: $body_bg;
			background: $highlight_color;

				&:hover {
					background: darken( $highlight_color, 20% );
					border-color: darken( $highlight_color, 20% );
				}
		}

		&.is-important {
			color: $important_button_color;
			border-color: $important_button_color;

			&:hover {
				color: $body_bg;
				background-color: $important_button_color;
			}
		}
}


.is-yellow {

	h1 {
		color: $yellow_highlight;
	}

	.button {
		color: $yellow_highlight;
		border-color: $yellow_highlight;

			&:hover {
				color: $body_bg;
				background-color: $yellow_highlight;
			}
	}

}

.is-red {

	h1 {
		color: $red_highlight;
	}

	.button {
		color: $red_highlight;
		border-color: $red_highlight;

			&:hover {
				color: $body_bg;
				background-color: $red_highlight;
			}
	}

}



/*
WP core
*/

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}